* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Pacifico', sans-serif;
	background-color: #333;
	overflow: hidden;
}

.box {
	padding: 80px 140px;
	box-shadow: inset 0 0 50px tomato;
	border-radius: 20px;
	background-color: rgba(255, 0, 0, 0.2);
}

.link {
	position: relative;
	padding: 10px 20px;
	font-size: 30px;
	color: rgb(199, 138, 81);
	text-decoration: none;

}

.link:hover {
	cursor: none;
}

.link,
.link::after,
.link::before {
	transition: transform .3s;
}

.one::after {
	content: '';
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: rgb(223, 135, 54);
	left: 0;
	bottom: 0;
	transform: scaleX(0);
	transform-origin: right;
}

.one:hover::after {
	transform: scaleX(1);
	transform-origin: left;

}

.two::after,
.two::before {
	content: '';
	position: absolute;
	height: 0;
	width: 0;
	transition: height, width, 0.3s;
}

.two::after {
	bottom: -2px;
	right: -8px;
	border-bottom: 0 solid rgb(223, 135, 54);
	border-right: 0 solid rgb(223, 135, 54);
}

.two::before {
	top: -2px;
	left: -8px;
	border-top: 0 solid rgb(223, 135, 54);
	border-left: 0 solid rgb(223, 135, 54);
}


.two:hover::after,
.two:hover::before {
	width: 50%;
	height: 50%;
}

.two:hover::after {
	border-bottom: 3px solid rgb(223, 135, 54);
	border-right: 3px solid rgb(223, 135, 54);
}

.two:hover::before {
	border-top: 3px solid rgb(223, 135, 54);
	border-left: 3px solid rgb(223, 135, 54);
}

.three::after,
.three::before {
	content: '';
	position: absolute;
	background-color: rgb(223, 135, 54);
	bottom: 0;
	width: 0;
	border-bottom: 2px solid rgb(223, 135, 54);
	transition: .3s;
}

.three::before {
	right: 50%;
}

.three::after {
	left: 50%;
}

.three:hover::after,
.three:hover::before {
	width: 50%;
}

.four::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(223, 135, 54, 0.6);
	transition: height .3s;
}

.four:hover::after {
	height: 100%;
}

.five::after,
.five::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 0;
	bottom: 0;
	background-color: rgba(223, 135, 54, 0.6);
	transition: 0.3s;
}

.five::after {
	left: 0;
}

.five::before {
	right: 0;
}

.five:hover::after {
	width: 50%;
}

.five:hover::before {
	width: 50%;
}