* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Pacifico', sans-serif;
	background-color: #333;
	overflow: hidden;
}

button {
	position: relative;
	margin: 20px;
	padding: 30px 50px;
	font-size: 30px;
	border-radius: 8px;
	background: none;
	color: white;
	border: 1px solid rgb(255, 255, 255);
	cursor: pointer;
	text-transform: uppercase;
	overflow: hidden;
}

button::after, button::before {
	position: absolute;
	display: block;
	content: '';
	transition: all 0.5s;
	z-index: -1;
}
/* cash */
.cash {
	height: 80px;
	width: 180px;
}

.cash:after {
	height: 100%;
	top: 0;
	left: -10px;
	border: 1px solid rgb(255, 255, 255);
}

.cash::before {
	width: 100%;
	top: -10px;
	left: 0;
	border: 2px solid rgb(255, 255, 255);
}

.cash:hover::after {
	left: 180px;
}

.cash:hover::before {
	top: 90px;
}

.span1, .span2 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all .5s;
}

.cash:hover .span1 {
	left: 120%;
	top: 120%;
}

.span2 {
	left: -50%;
	transition: 0.5s .1s;
}

.cash:hover .span2 {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* slice */

.slice::after, .slice::before {
	width: 100%;
	height: 100%;
	background-color: rgb(64, 187, 33);
}

.slice::after {
	top: 50%;
	left: -150%;
}

.slice::before {
	bottom: 50%;
	right: -150%;
}

.slice:hover::after {
	left: 0;
}

.slice:hover::before {
	right: 0;
}

/* hmm */

.hmm {
	border: none;
	transition: 0.5s;
}

.hmm:hover {
	box-shadow: 2px 3px 0 0 rgb(230, 230, 230), inset 11px 6px 10px rgb(12, 12, 12);
}

/* border */

.border {
	border-radius: 0;
	overflow: visible;
	transition: 0.8s;
}
.border:after, .border:before {
	height: 100%;
	width: 100%;
}

.border:after {
	top: 0;
	left: 0;
}

.border:before {
	bottom: 0;
	right: 0;
}

.border:hover::after {
	top: -10px;
	left: -10px;
	border-top: 4px solid rgb(64, 187, 33);
	border-left: 4px solid rgb(64, 187, 33);
}

.border:hover::before {
	bottom: -10px;
	right: -10px;
	border-bottom: 4px solid rgb(64, 187, 33);
	border-right: 4px solid rgb(64, 187, 33);
}

.border:hover {
	color: rgb(64, 187, 33);
	border: 1px solid transparent;
}

/* glass */


.glass::after {
	height: 250%;
	width: 100px;
	top: -60px;
	left: -150px;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
	transform: rotate(30deg);
	transition: 0.5s;
}

.glass:hover::after {
	left: 130%;
}