$main-color: #C58940;
$secondary-color: #E5BA73;
$light: #FAEAB1;
$pale: #FAF8F1;

$light-darkorange-gradient: linear-gradient(45deg, rgba(202, 200, 71, 0.6), rgba(192, 124, 22, 0.6));
$blue-gradient: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75));
$purple-gradient: linear-gradient(45deg, rgba(190, 10, 214, 0.75), rgba(68, 0, 255, 0.75));
$orange-gradient-solid: linear-gradient(45deg, rgb(226, 162, 67), rgb(163, 102, 22));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);
