@use './colors' as *;

@mixin BurgerBtn {
    position: absolute;
    right: 0;
    height: 3px;
    content: '';
    background-color: $pale;
    transition: width 0.3s;
}

@mixin heroImages ($bgImg) {
    background-image: $light-darkorange-gradient, url($bgImg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}